@CHARSET "UTF-8";

.login {
		background: url("../img/backLog.jpg") no-repeat ;
		background-position: top;
		margin: 0 auto;
		text-align: center;
		height: 500px;
		width: 332px;
		padding-top:280px;

}

.rejoindre {
		background: url("../img/topSoiree.jpg") no-repeat ;
		background-position: top;
		margin: 0 auto;
		text-align: center;
		height: 500px;
		width: 332px;
		padding-top:280px;

}

.btnSmall {
	
	  background: url("../img/base-button-arrow-small.png") no-repeat;
      width: 106px;
      height: 29px;
      color: black;	
      border : 0;
   	  cursor: pointer;
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      text-shadow: 0 1px #FCDA87;
      line-height: 29px;
}

.btnSmall:hover {
	background-position: 0px -29px;
}

.btnSmall:active {
	background-position: 0px -58px;
}
.btnMedium {
	
	  background: url("../img/base-button-arrow-med.png") no-repeat;
      width: 156px;
      height: 29px;
      color: black;	
      border : 0;
   	  cursor: pointer;
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      text-shadow: 0 1px #FCDA87;
      line-height: 29px;
}

.btnMedium:hover {
	background-position: 0px -29px;
}

.btnMedium:active {
	background-position: 0px -58px;
}
.btnLarge {
	
	  background: url("../img/base-button-arrow-large.png") no-repeat;
      width: 185px;
      height: 29px;
      color: black;	
      border : 0;
   	  cursor: pointer;
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      text-shadow: 0 1px #FCDA87;
      line-height: 29px;
}

.btnLarge:hover {
	background-position: 0px -29px;
}

.btnLarge:active {
	background-position: 0px -58px;
}


.edtUser {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: large;
	text-shadow: 1px 1px #CCC;
}

.warningmsg {
	color: red;
	text-shadow: 1px 1px black;
}

.topRight {
	float: left;
}

.loginput {
   border:none;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 5px #666 inset;
   -moz-box-shadow:0 0 5px #666 inset;
   box-shadow:0 0 5px #000;
   height:25px;
   line-height:25px;
   width:200px;
   text-indent:5px;
}

.loginputWrong {
   border:1px solid red;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 5px #666 inset;
   -moz-box-shadow:0 0 5px #666 inset;
   box-shadow:0 0 5px #000;
   height:25px;
   line-height:25px;
   width:200px;
   text-indent:5px;
   color: red;
   background-color: darkred;
}

.joinable {
	color: #00FF00;
}

.unjoinable {
	color: #FF0000;
}

td.biggerTD {
	width: 150px;	
}

a {
	color : #CCC;
	text-shadow: 1px 1px #000;
}
a:hover {
	color : #000;
	text-shadow: 1px 1px #CCC;
}
body{
	background-color: #000;
	
}
h1 {
	color : #000;
	
}
input:focus { outline:none; }

.jaune {
	background-color: #F3E92D;
}

.rouge {
	background-color: #FF0000;
}

.vert {
	background-color: #058103;
}


